 /* .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .navbar a:hover {
    background-color: #000;
  }
  
 
  .active {
    background-color: #04AA6D;
  }
  
 
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }  */

  .navbar {
    width: 100%;
    background-color: rgb(248, 7, 7);
    overflow: auto;
    border-radius: 20px;
    text-decoration-color: black;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: rgb(4, 12, 3);
  }
  
  /* Current/active navbar link */
  /* .active {
    background-color: #c0f308;
  } */
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  img{
    vertical-align: text-top;
    width: 150px;
    height: 160px;
  }
  .About{
     background-color: #4bd4a9;
    

    }
   


    


   
.project img{
    vertical-align: text-top;
    width: 250px;
    height: 260px;
  }

.project2 img{
  width: 320px;
  height: 250px;
}
.project{
  background-color: rgb(183, 166, 19);

}
.project2{
  background-color: bisque;
  
}
nput[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #7b8d07;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}